@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <img src="~/Images/main.jpg" />
    
    </div>
Учет прихода и расхода топлива, горючесмазочных материалов и нефтепродуктов

